* { 
    box-sizing: border-box;
}

body {
    background-color: #847979;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.background {
    background-color: white;
    min-height: 100vh;;
    max-width: 800px;
    margin: 0px auto;

}

.container {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    border-radius: 5px;
    /* overflow: scroll; */
}

.heading {
    text-align: center;
    width: 100%;
}

hr {
    margin: 0px auto;
    height: 1px;
    width: 80%;
    
    color: darkgray;
}

.block {
    margin: auto;
    width: 80%;
    min-height: 50px;
}

h3 {
    margin: 5px 0px;
    padding: 2px 10px;
    position: relative;
}

p {
    display: none;
    padding: 5px;
}

